.pydevproject
.project
.settings/*
db.sqlite3
blog/migrations/*
blog/static/blog/css/unused/*
blog/static/blog/images_before_compression/*
helloapp/__pycache__/*.pyc
*.pyc
*.swp
*.swo
.idea
.DS_Store
blog/.ropeproject/
howy/*.sw*
helloapp/*.sw*
.ropeproject
